* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.background {
    background: url(../imgs/background/motel.jpg) center center / cover no-repeat;
    position: fixed;
    z-index: -1;
    width: 102vw;
    height: 120vh;
    bottom: 0;
    left: 0;
    filter: brightness(0.9);
}

/* Form điền email quên mật khẩu */
.forget-password-form {
    width: 30vw;
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 20px 1px black;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px;
}

.forget-password-form__title {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}

.input-wrapper {
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
}

.input-wrapper:focus-within {
    border: 2px solid white;
}

.input-wrapper input {
    height: 100%;
    width: 90%;
    background-color: transparent;
    padding: 0 20px;
    color: white;
    font-size: 20px;
}

.input-wrapper input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

.forget-password-form span{
    font-size: 14px;
    margin-left: 10px;
}

.forget-password-button {
    height: 40px;
    margin: 20px 0;
}

.forget-password-button button {
    background-color: white;
    outline: none;
    border: none;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    cursor: pointer;
}

/* Form xác nhận otp */
.verify-form {
    width: 30vw;
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 20px 1px black;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px;
    display: none;
}

.verify-form__title {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}

.fields-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.otp_field{
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 60px;
    height: 80px;
    width: 80px;
    border: 3px solid white;
    margin: 1%;
    text-align: center;
    font-weight: 600;
    outline: none;
}

.otp_field::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

.otp_field::-webkit-inner-spin-button,
.otp_field::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.verify-button {
    height: 40px;
    margin: 20px 0;
}

.verify-button button {
    background-color: white;
    outline: none;
    border: none;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    cursor: pointer;
}

/* Form đặt lại mật khẩu */
.reset-password-form {
    width: 30vw;
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 20px 1px black;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px;
    display: none;
}

.reset-password-form__title {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}

.reset-password-button {
    height: 40px;
    margin: 20px 0;
}

.reset-password-button button {
    background-color: white;
    outline: none;
    border: none;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    cursor: pointer;
}

/* Toast message */
#toast {
    position: fixed;
    top: 80px;
    right: 40px;
    z-index: 1;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 40px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast {
    padding: 10px 0;
    min-width: 300px;
    max-width: 350px;
    background-color: white;
    border-left: 4px solid;
    box-shadow: 1px 2px 10px grey;
    animation: slideInLeft 0.5s ease, fadeOut 1s ease 3s forwards;
    transition: all 0.3s ease;
}

.toast+.toast {
    margin-top: 20px
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
    color: black;
}

.toast__success {
    border-color: #43d158;
}

.toast__success .toast__icon,
.toast__success .toast__title {
    color: #43d158;
}

.toast__error {
    border-color: #e04d28;
}

.toast__error .toast__icon,
.toast__error .toast__title {
    color: #e04d28;
}