.service-list__wrapper {
    position: relative;
}

.service-list__title {
    width: 60%;
    font-size: 36px;
    font-weight: 600;
}

.service-list__wrapper .add-service {
    color: white;
    background-color: #479FFF;
    font-size: 20px;
    width: 10vw;
    font-weight: 600;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    text-wrap: nowrap;
}

.service-list__container {
    margin: 20px 120px;
    height: 78vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 200px;
}

.service-list__container::-webkit-scrollbar {
    display: none;
}

.service-list__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    max-height: 100%;
    overflow-y: scroll;
}

.service-list__info::-webkit-scrollbar{
    display: none;
}

.service {
    margin: 4px;
    font-size: 20px;
    transition: all 0.4s ease;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.service:hover {
    box-shadow: 0 4px 10px 0px #bbbbbb;
    transform: scale(1.02);
}

.service-name {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 4px;
}

.service-info {
    flex-grow: 1;
    background-color: white;
    margin: 0 4px 4px 4px;
    border-radius: 8px;
    padding: 20px 10px;
}

.service-info .price {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
}

.service-info .btn-wrapper button{
    padding: 4px;
    min-width: 7vw;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.service-info .btn-wrapper button:hover{
    filter: brightness(0.9);
    transform: scale(1.02);
    cursor: pointer;
}

.service-list__statistic {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: 100%;
    overflow-y: scroll;
    gap: 32px;
}

.service-list__statistic::-webkit-scrollbar{
    display: none;
}

.wrapper {
    filter: brightness(1.15);
    border-radius: 10px;
    color: white;
    display: flex;
    min-height: 16vh;
}
.service-statistic{
    flex-grow: 1;
    filter: brightness(0.87);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

#using-quantity{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

/* Modal chỉnh sửa */
.modal-service .modal-container {
    width: 28vw;
    background-color: var(--modal-background);
    border-radius: 20px;
}

.modal-name {
    padding: 4px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 15px;
    color: #0094FF;
}

.modal-name div {
    flex: 1;
    text-align: center;
}

.modal-form {
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-wrapper label {
    margin-bottom: 4px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
}

.input-wrapper input,.input-wrapper select {
    appearance: none;
    background-color: var(--modal-background);
    height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 500;
}

.input-wrapper input[type="date"] {
    border: 2px solid #55A2FC;
    background-color: white;
}

.modal-service .refuse-btn {
    background-color: white;
    color: black;
}
/* Modal xác nhận xóa */
.modal-service__delete .modal-container {
    width: 22vw;
    background-color: var(--modal-background);
    border-radius: 20px;
}
.modal-service__delete .modal-name {
    font-size: 22px;
    font-weight: 600;
    color: black;
    background-color: var(--modal-background);
}

.modal-service__delete .modal-message{
    font-size: 20px;
}

.modal-service__delete .accept-btn{
    background-color: #FF2A2A;
} 